<h2 id='all-header'>All Products</h2>

<% if @products.any? %>
  <ul id = 'all'>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no products yet.</p>
<% end %>


